.conteneur{
  width:200px;
  margin:auto;
  text-align :center;
}

/* On cache les textes par défaut */
.circle .mytext{
  display :none
}
/* Quand on change la class fa-plus-circle en fa-minus-circle
* on affiche le texte qui est adjacent au bouton qui a changé de class
*/
.circle .fa-minus-circle + .mytext{
  display : block
}

.fa::before {
    font-size: 13px;
    font-family: monospace;
    font-style: normal;
    color:rgb(12, 92, 150);
}

.fa-plus-circle::before {
  content: "[+]";
}

.fa-minus-circle::before {
  content: "[-]";
}

.fa:hover {
    cursor : pointer;
    text-decoration: underline;
  }

.circle .fa-minus-circle + .mytext{
    margin: 0;
    padding: 6px;
    border: 0.8px inset;
    border-color: #3d3b3b;
    text-align: left;
    direction: ltr;
    background: #f8f7f2 none repeat-x;
    font-size: 12px;
  }

  .link-hid-:hover {
    cursor: pointer;
  }

  em.notcop {
    display: none;
  }